# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
**/bin/
**/obj/
**/dist/

# .NET
*.suo
*.user
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb
*.cache
*.log

# Visual Studio
.vs/
*.nupkg
*.pfx
*.snk

# misc
.DS_Store
*.pem
*.swp
*~

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
local.settings.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Temporary files
*.tmp
*.temp

# Sensitive files
account.json
**/credentials.json
**/*.key
**/*.pem
**/*.pfx
**/*.p12
